*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

.cards-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* Odenação */

.ordenar {
    padding-left: 32px;
}

.ordenar h2,h6{
    padding: 16px 32px;
}

.ordenar h6{
    font-weight: bolder;
}

.ordenar-itens {
    display: flex;
    padding-left: 32px;
}

@media only screen and (max-width: 600px) {
    .ordenar-itens {
        flex-direction: column;
    }
}

.botao-ordenar {
    margin-right: 18px;
    width: max-content;
    border: 1px solid #bebebe;
    border-radius: 20px;
    padding: 8px 12px;
    transition: all 0.2s ease-in-out;
}

.botao-ordenar:hover {
    background: black;
    color: white;
}

@media only screen and (max-width: 600px) {
    .botao-ordenar {
        margin-bottom: 8px;
    }
}

/* Cards */

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    border-radius: 30%;
}

.card:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6)
}

.card-img-top{
    border-radius: 4% 4% 0 0;
}

div .card-body{
    border-radius: 0 0 4% 4%;
    color: #f8f9fa;
    background-color: black;
}

/*************/

footer {
    margin-top: 64px;
    border-top: 1px solid #333;
    color: black;
    align-items: center;
}
  
.home{
    padding: 18px;
}

.home a{
    color: black;
    text-decoration: none;
}

.home a:hover{
    color: #ff385c;
}

.social{
    text-align: center;
    margin: 32px 0;
}

.social a{
    color: black;
    text-decoration: none;
}

.media-icon {
    margin: 0 8px;
    cursor: pointer;
}

.media-icon:hover {
    color: #ff385c;
}

footer p{
    text-align: center;
    margin: 0;
}

